
*{
  box-sizing: border-box;

}

  body {
    font-family: 'Poppins', sans-serif;
    background-color: gray;
  

  }

  a{
    color:white;
  }


  .a1{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top: 1px solid lightgray;
    display: block;
    position: relative;
  }




  p {
    margin-top: 0;
   
  }

  nav a:hover, nav a:focus {
    text-decoration: none;
  }

/*Naivigtion styling */


/* 
  INTERACTIVE ELEMENTS -------------------
  */


  /* Styling for the navigation button */
  .button-nav{
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   display: block;
   margin-top: 20px;
   width: 50%;
   height: 50px;
   align-items: center;
   text-align: center;
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
   font-size: 0.7rem;
   color: black;
   background: white;
   border: none;
   text-decoration: none;
   border-radius: 0;
   transition: all .5s ease-in-out;
 }

 .button-nav:hover{

   color: white;
   background-color: blue;
   cursor: pointer;
 
   
 }

 

.product-image-wrapper {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  left: -10px;


}

#product1 img{
 transition: all .5s ease;

}

.product-image-wrapper img {
  width: 50vw;
  height: auto;

  top: 0;
  


}



/* 
  TEXT ELEMENTS -------------------
  */




/* 
  COMBINED ELEMENTS -------------------
  */
  input {
    -webkit-appearance: textfield;

    cursor: text;
    padding: 1px;
    border: #808080 1px solid;
  }

  /*nav*/
  .element-nav{
    display: inline-block;
    width: 100vw;
  }


  .nav-container2{
    position:relative;
    width:95%;

    margin:0 auto;
    top:4%;
    right: 0;
    left: 0;
    z-index: 90;
  }
  .me2 img{
    display: inline-block;
    max-width: 5vw;
    margin: 0;
    height: auto;

  }



  .top_nav2{
    float: right;
    display: inline-block;
    right:0;
    left:0;
    
  }
  .top_nav2 li{

    font-family: 'Poppins', sans-serif;

    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 0.5rem;
    margin-right: 5vw;


  }

  input:hover{
    background: lightgray;
  }



  /*product card*/

  .product-card{
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 10px;
  }


  .product-image-wrapper {
    width: 100%;
    position: relative;
    transition: opacity .2s ease;
    background-size: cover;
    background-position: center center;
    overflow: hidden;


  }

  #product1 img{
   transition: all .5s ease;
 }


 span.tag.tag-new {
  background: #17c772;



}
span.tag {
 position: absolute;
 top: 0;
 left: 0;
 font-size: 10px;
 font-family: 'Poppins', sans-serif;
 padding: 0 3px;
 color: #fff;
 background: #222;
 z-index: 1;
 text-decoration: none;



}

  .ad1{
    width: 100%;


  }
  .ad1 img{
    width: 100%;


  }


  .color-pattern2-1{
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 8vh;
    margin-right: 15px;
    background: #F0F3F6;
  }

  .color-pattern2-1 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }
  .color-pattern2-2{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: gray;
    border: 1px solid white;
  }
  .color-pattern2-2 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }

  .color-pattern2-3{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: blue;
  }
  .color-pattern2-3 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }
  .color-pattern2-4{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: black;

  }

  .color-pattern2-4 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: -20%;
    float: left;
    color: #fff;
    font-size: 0.5em;
    opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }

 @keyframes col-slide{

    from{
      bottom: -20%;
      opacity: 0;
    }

    to{
      bottom: 15%;
      opacity: 1;
    }

 }

 .color-pattern2-4:hover{
  cursor: pointer;
  
 }



 



/*side nav*/
#side-nav{
  position: relative;
  top: 10vh;
  left: 2%;
  display: inline-block;
  width: 35vw;
  text-align: left;
}

#side-nav a{
  text-decoration: none;
  display: inline-block;
  color: lightgray;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3em;
  margin:20px 20px;
  cursor: pointer;
}

#side-nav a:hover{
 color:black;
 transition: color .5s ease-in-out;
}


.side-ul{
  margin: 0;
  padding: 0;
  position: relative;
}
.side-ul li{
  display: inline-block;
  position: relative;



}


.side-ul li::before {
  content: '';
  display: inline-block;
  height: 10px;
  background-color: blue;
  opacity: .7;
  position: absolute;
  top:40%;
  width: 0%;
  transition: all ease-in-out .5s;
}


.side-ul li:hover::before {
  width: 100%;

}

#interactive_elements{
  display: inline-block;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;

}

#interactive_elements h1{
 display: block;
 font-size: 4rem;
 font-family: 'Poppins', sans-serif;
 border-left: solid 5px blue;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
 color: blue;



}


.intext-link{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  position: relative;
  display: inline-block;
}


.intext-link::before {
  content: '';
  display: inline-block;
  height: 3px;
  background-color: #33473F;

  position: absolute;
  top: 25%;
  width: 0%;

  transition: all ease-in-out 250ms;
}
.intext-link:hover::before {
  width: 100%;
}

.navigation-link{
  display: inline-block;
  width: 100%;
}

.nav-container3{

 width:100%;
 margin:0 auto;
 right: 0;
 left: 0;
 z-index: 90;
}

.top_nav3{

  display: inline-block;
  right:0;
  left:0;

}
.top_nav3 li{

  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-right: 5vw;
  z-index: 100;
}


.top_nav3 li::before {
  content: '';
  display: inline-block;
  height: 15px;
  background-color: blue;
  opacity: .5;
  position: absolute;
  top: 15%;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.top_nav3 li:hover::before {
  width: 100%;
}



.filed1{
 width: 100%;
 float: left;
 padding: 0.42857em;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}







#text_elements{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;

}


#text_elements h1{
 display: block;
 font-size: 4rem;
 font-family: "HelveticaNeueLTStd-ltd" sans-serif;
 border-left: solid 5px blue;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
 color: blue;
}
#text_elements p{
 display: inline-block;
}



#combined_elements{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;
}

#combined_elements h1{
 display: block;
 font-size: 4rem;
 font-family: 'Poppins', sans-serif; border-left: solid 5px blue;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
  color: blue;
}



#citations{
  display: none;
}

.ciation-list{
  width: 100%;
  margin: 0;
}
.ciation-list li{
  word-break: break-all;
  margin: 10px;
}


#idea2{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;

}


#idea2 h1{
 display: block;
 font-size: 4rem;
 font-family: 'Poppins', sans-serif; border-left: solid 5px blue;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
 color: blue;
}

input:focus{
  background-color: lightgray;
  opacity: .3;
}
